body {
    background-color: white;
}

.contenedor {
    width: 100%;
    height: 600px;
    background-color:white;
    position: relative;
}

.izquierda {
    width: 50%;
    float: left;
    position: relative;
    height: 600px;
    font-size: 100px;
}

.centro {
    width: 25%;
    float: left;
    position: relative;
    height: 600px;
    text-align: center;
}

.derecha {
    width: 25%;
    float: left;
    position: relative;
    height: 600px;
}



form {
    padding: 25px;
    font-size: 20px;
    background-color: azure;
}

.menu {
    list-style: none;
    margin: 25px;
      background-color: white;
}

.menu li {
    font-size: 20px;
    border: 1px solid black;
    margin:10px;
    background-color:white ;
}

.menu li a {
    padding: 5px;
    width: 300px;
    color: azure;
    text-decoration: none;
}

.menu li:hover {
    border: 2px solid black;
    background-color: azure;
    color: black;
}

.contenedor2 {
    width: 100%;
    height: 280px;
    background-color:#0FA471;
    position: relative;
    text-align: center;
}

.izquierda2 {
    width: 50%;
    float: left;
    position: relative;
    height: 350px;
    background-color: #0FA471;
}

.derecha2 {
  width: 50%;
  float: left;
  position: relative;
  height: 350px;
  background-color: #0FA471;
  text-align: center;
}

.contenedor3 {
    width: 100%;
    height: 250px;
    background-color:white;
    position: relative;
    text-align: center;
    font-size: 20px;
}

.contenedor4 {
    width: 100%;
    height: 420px;
    background-color:#222327;
    position: relative;
    text-align: center;
    font-size: 17px;
}
